

<nav>
  <h1>Beinex</h1>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars fa-lg"></i>
  </label>
  
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/Services" routerLinkActive="active" >Services</a></li>
      <li><a routerLink="/company" routerLinkActive="active" >Company</a></li>
      <li><a routerLink="/career" routerLinkActive="active" >Career</a></li>
      <li><a routerLink="/blog" routerLinkActive="active" >Blog</a></li>  </ul>
</nav>
<section>
  
</section>

<router-outlet></router-outlet>
