

<nav>
  <h1>Beinex</h1>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars fa-lg"></i>
  </label>
  
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active" >About</a></li>
      <li><a routerLink="/product" routerLinkActive="active" >Product</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" >Contact</a></li>
      <li><a routerLink="/blog" routerLinkActive="active" >Blog</a></li>  </ul>
</nav>
<section>
  
</section>

<router-outlet></router-outlet>
